<div class="content">

  <h2>Create new PetStore</h2>

  <form action="/shops" method="post">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name"><br>
    
    <label for="address">Address:</label>
    <input type="text" name="address" id="address"><br>

    <label for="stock_type">Type of Stock:</label>
    <input type="text" name="stock_type" id="stock_type"><br>

    <input type='submit' value="Create PetStore">
  </form>

</div>